datasets/linemod/*
datasets/ycb/*
datasets/txonigiri/*
datasets/txonigiri/__pycache__/*
vanilla_segmentation/__pycache__/*

trained_checkpoints/*
evaluation_result/*

experiments/logs/*
# experiments/logs/linemod
# experiments/logs/txonigiri/
# experiments/logs/txonigiri2/

trained_models/*
# trained_models/txonigiri/
# trained_models/txonigiri/pose_model_current.pth
# trained_models/txonigiri2/
# trained_models/txonigiri2/pose_model_current.pth
 

trained_checkpoints.zip
YCB_Video_Dataset.zip
datasets/txonigiri/data/02.zip


.vscode/*
